
@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/css/Login.css" rel="stylesheet" />
    <title>Actualizar Producto</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Actualizar Producto</h3>
                    </div>
                    <div class="panel-body">
                        <form asp-action="Actualizar" asp-controller="ProductoPrueba" method="post">
                            <input asp-for="IdProducto" type="hidden" class="form-control">
                            <div class="alert alert-danger" role="alert">
                                @*Desea eliminar el producto? : @Html.DisplayTextFor(m => m.IdProducto) ?*@
                            </div>
                            <fieldset>
                                <button class="btn btn-danger" type="submit">Eliminar</button>
                                <a asp-action="Consultar" asp-controller="ProductoPrueba" class="btn btn-warning" href="@Url.Action("Consultar","ProductoPrueba")">Consultar</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>

